<app-screen-frame coverImage="../../../assets/cafe_restaurant_tables_chairs.jpg" coverLable="Indoor & Outdoor area">
  <div class="section">
    <div class="venue">
      <span class="venue-type">Restaurant</span> | 0.7 Miles away
    </div>
    <h1 class="venue-title">Cecconi's Pizza Bar</h1>
  </div>

  <app-section-rates></app-section-rates>
  <div class="hr-line"></div>
  <app-section-info></app-section-info>
  <div class="hr-line"></div>
  <app-section-accessibility></app-section-accessibility>
  <div class="vertical-space"></div>
  <app-section-photos [data]="photos"></app-section-photos>
  <div class="vertical-space"></div>
  <app-section-reviews></app-section-reviews>
</app-screen-frame>

<app-back-button class="back-button"></app-back-button>