<div class="section reviews">
  <div class="title-container">
    <span class="title">Reviews</span>
    <span class="link-button all-reviews">All Reviews</span>
  </div>
</div>

<ion-slides [options]="slideOpts" class="review-slider">
  <ion-slide>
    <app-review-box></app-review-box>
  </ion-slide>
  <ion-slide>
    <app-review-box></app-review-box>
  </ion-slide>
  <ion-slide>
    <app-review-box></app-review-box>
  </ion-slide>
</ion-slides>

<div class="section">
  <app-add-button>Add Reviews</app-add-button>
</div>