<div class="section accessibility">
  <span class="title">Accessibility</span>

  <div class="section accessibility-item">
    <div class="accessibility-item-type-container">
      <div class="accessibility-item-icon-container">
        <ion-icon class="accessibility-item-icon" src="../../../../assets/icons-entrance.svg"></ion-icon>
      </div>
      <div class="accessibility-type-title-container">
        <span class="accessibility-type-title">Entrance</span>
        <span class="accessibility-type-subtitle">Main Entrance</span>
      </div>
    </div>

    <ul class="accessibility-features">
      <li>1 step</li>
      <li>Single door</li>
      <li>Manual door(s)</li>
      <li>Wide (>75cm)</li>
      <li>20+ cm high</li>
    </ul>

    <span class="link-button see-more">
      see more
      <ion-icon class="see-more-icon" src="../../../../assets/icons-arrow-dropdown-blue.svg"></ion-icon>
    </span>
  </div>
  <div class="add-button">
    <app-add-button>Add Accessibllilty Tags</app-add-button>
  </div>
</div>