<div class="section venue-rates">
  <div class="rates">
    <ion-icon src="../../../assets/icons-star.svg" class="venue-star"></ion-icon>
    <span class="venue-star-rate">4.8 / 5</span>
    <span class="venue-reviews link-button">350 Reviews</span>
  </div>
  <div class="rating-buttons">
    <app-feedback-button icon="../../../assets/icons-share-arrow.svg">share</app-feedback-button>
    <app-feedback-button icon="../../../assets/icons-favorite-selected.svg" [selected]="true">Favorite</app-feedback-button>
    <app-feedback-button icon="../../../assets/icons-likes.svg">23</app-feedback-button>
    <app-feedback-button icon="../../../assets/icons-dislikes.svg">7</app-feedback-button>
  </div>
</div>