<div class="section review-box">
  <div class="review-header">
    <div class="user-detail">
      <ion-avatar>
        <ion-img src="https://i.pravatar.cc/300"></ion-img>
      </ion-avatar>
      <div class="user-name-container">
        <span class="user-name">Emma Lowe</span>
        <span class="review-date">6 days ago</span>
      </div>
    </div>

    <div class="box-menu">
      <div class="menu-oval"></div>
      <div class="menu-oval"></div>
      <div class="menu-oval"></div>
    </div>
  </div>

  <span class="sociability-tag-container">
    <span class="sociability-tag">
      Partially Blind
    </span>
  </span>
  <div class="review-text">
    Lorem Ipsum is simply dummy text of the printing and typeset industry. Lorem Ipsum has been the industry's standard
    dummy text ever since the 1500s.
  </div>
  <div class="review-thumbnails">
    <ion-avatar>
      <ion-img
        src="https://unsplash.com/photos/SUXcGaSnZyY/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjM5NTM1ODI0&force=true&w=640">
      </ion-img>
    </ion-avatar>
    <ion-avatar>
      <ion-img
        src="https://unsplash.com/photos/SUXcGaSnZyY/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjM5NTM1ODI0&force=true&w=640">
      </ion-img>
    </ion-avatar>
    <ion-avatar>
      <ion-img
        src="https://unsplash.com/photos/SUXcGaSnZyY/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjM5NTM1ODI0&force=true&w=640">
      </ion-img>
    </ion-avatar>
  </div>
</div>