<div class="section review-box">
  <div class="review-header">
    <div class="user-detail">
      <ion-avatar>
        <ion-img [src]="review.avatar"></ion-img>
      </ion-avatar>
      <div class="user-name-container">
        <span class="user-name">{{review.userName}}</span>
        <span class="review-date">{{review.date}}</span>
      </div>
    </div>

    <div class="box-menu">
      <div class="menu-oval"></div>
      <div class="menu-oval"></div>
      <div class="menu-oval"></div>
    </div>
  </div>

  <span class="sociability-tag-container">
    <span class="sociability-tag">
      {{review.sociability}}
    </span>
  </span>
  <div class="review-text">
    {{review.text}}
  </div>
  <div class="review-thumbnails">
    <ion-avatar *ngFor="let photo of review.uploadedImages">
      <ion-img [src]="photo">
      </ion-img>
    </ion-avatar>
  </div>
</div>